.shouye-panel1 {
    float: left;
    height: 500px;
    width: 400px;
    margin: 50px 50px 100px 50px;
    border: 2px solid coral;
}

.shouye-panel2 {
    float: left;
    height: 200px;
    width: 220px;
    margin: 50px 20px 50px 0px;
    border: 2px solid coral;
}

.shouye-panel3 {
    float: left;
    height: 200px;
    width: 400px;
    margin: 50px 0 50px 0;
    border: 2px solid coral;
}

.shouye-panel4 {
    float: left;
    height: 250px;
    width: 640px;
  
    border: 2px solid coral;
}
.shouye-panel5{
    float: left;
    height: 200px;
    width: 1090px;
    margin: 20px 50px 0px 50px;
    border: 2px solid coral;

}